/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

/** Basic styling */
body { font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; color: #ffffff; background-color: #fdfdfd; -webkit-text-size-adjust: 100%; -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal; display: flex; min-height: 100vh; flex-direction: column; }

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure { margin-bottom: 15px; }

/** `main` element */
main { display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */ }

/** Images */
img { max-width: 100%; vertical-align: middle; }

/** Figures */
figure > img { display: block; }

figcaption { font-size: 14px; }

/** Lists */
ul, ol { margin-left: 30px; }

li > ul, li > ol { margin-bottom: 0; }

/** Headings */
h1, h2, h3, h4, h5, h6 { font-weight: 400; }

/** Links */
a { color: #2a7ae2; text-decoration: none; }
a:visited { color: #1756a9; }
a:hover { color: #ffffff; text-decoration: underline; }
.social-media-list a:hover { text-decoration: none; }
.social-media-list a:hover .username { text-decoration: underline; }

/** Blockquotes */
blockquote { color: #828282; border-left: 4px solid #e8e8e8; padding-left: 15px; font-size: 18px; letter-spacing: -1px; font-style: italic; }
blockquote > :last-child { margin-bottom: 0; }

/** Code formatting */
pre, code { font-size: 15px; border: 1px solid #e8e8e8; border-radius: 3px; background-color: #eef; }

code { padding: 1px 5px; }

pre { padding: 8px 12px; overflow-x: auto; }
pre > code { border: 0; padding-right: 0; padding-left: 0; }

/** Wrapper */
.wrapper { max-width: -webkit-calc(800px - (30px)); max-width: calc(800px - (30px)); margin-right: auto; margin-left: auto; padding-right: 15px; padding-left: 15px; }
@media screen and (min-width: 800px) { .wrapper { max-width: -webkit-calc(800px - (30px * 2)); max-width: calc(800px - (30px * 2)); padding-right: 30px; padding-left: 30px; } }

/** Clearfix */
.wrapper:after, .content:after, .subcontent:after, #about .row:after, #skills:after, #skills .row:after, #resume .row:after { content: ""; display: table; clear: both; }

/** Icons */
.orange { color: #f66a0a; }

.grey { color: #828282; }

.svg-icon { width: 16px; height: 16px; display: inline-block; fill: currentColor; padding: 5px 3px 2px 5px; vertical-align: text-bottom; }

/** Tables */
table { margin-bottom: 30px; width: 100%; text-align: left; color: white; border-collapse: collapse; border: 1px solid #e8e8e8; }
table tr:nth-child(even) { background-color: #f7f7f7; }
table th, table td { padding: 10px 15px; }
table th { background-color: #f0f0f0; border: 1px solid #dedede; border-bottom-color: #c9c9c9; }
table td { border: 1px solid #e8e8e8; }

/** Search Bar */
.search-bar { border: 3px solid #00B4CC; width: 40%; padding: 5px; height: 20px; border-radius: 5px; outline: none; color: #9DBFAF; }
.search-bar:focus { color: #00B4CC; }

html, body { display: block; height: 100%; width: 100%; scroll-behavior: smooth; }

html, body, p { margin: 0px; padding: 0px; }

svg { width: 16px; height: 16px; display: inline-block; padding: 0 5px 0px 5px; fill: currentColor; }

a { color: #1C1C1C; }
a:visited { color: #1C1C1C; }
a:hover { text-decoration: none; color: #54ff9f; transition: .4s; }

/** Clearfix */
.wrapper:after, .content:after, .subcontent:after, #about .row:after, #skills:after, #skills .row:after, #resume .row:after { content: ""; display: table; clear: both; }

.white { color: #ffffff; }

.grey { color: #828282; }

.grey-light { color: #e8e8e8; }

.grey-dark { color: #424242; }

.blue { color: #52b3d9; }

.red { color: #ff3232; }

.green { color: #90ee90; }

.orange { color: #f66a0a; }

.bg-light { color: #1C1C1C; background-color: #ffffff; padding: 20px; }

.bg-dark { color: #ffffff; background-color: #1C1C1C; padding: 20px; }

.fs-large { font-size: 60px; }

.fs-medium { font-size: 30px; }

.fs-small { font-size: 22px; }

.width-half { width: 50%; }

.width-one-third { width: 33%; }

.lfloat { float: left; }

.rfloat { float: right; }

.shadow { text-shadow: 1px 1px 1px #000000; }

.subcontent { margin: 20px 0 50px 0; }

#home { height: 100%; width: 100%; background: url("https://storage.googleapis.com/chiehting.com/blog/home-bk.png") no-repeat center center; background-size: cover; background-attachment: fixed; }
#home .intro { position: relative; top: 40%; width: 100%; text-align: center; }
#home .intro p { padding: 10px; }
#home .social-media-list { position: absolute; bottom: 1%; right: 1%; }
#home .social-media-list li { float: left; margin: 0px 8px; list-style-type: none; }
#home .social-media-list li a { display: block; padding: 7px; border: 1px solid #e8e8e8; }
#home .social-media-list li a:hover { background-color: #54ff9f; border: 1px solid #aaa; transition: .4s; }

#about hr { border: 0; height: 1px; background-color: #dddddd; }
#about .avatar { width: 100%; max-height: 320px; object-fit: cover; object-position: 0px 0px; display: block; border-radius: 25px; margin-bottom: 20px; }
#about #profile { width: calc(30% - 31px); border: 1px solid #eee; border-radius: 25px; padding: 15px; }
#about #description { width: calc(70% - 41px); margin-left: 40px; }
#about .row { padding: 5px 0; }

#skills .row { margin: 10px 20px; }
#skills svg { width: 25px; height: 25px; padding: 0 15px; }

#resume .row { position: relative; }
#resume ul { margin-bottom: 0; }
#resume .bullet-content { margin-left: 10%; padding-bottom: 20px; }
#resume .bullet { width: 10%; }
#resume .bullet::before { position: absolute; top: 13px; left: 10px; content: ''; width: 10px; height: 10px; border-radius: 50%; display: inline-block; background-color: #A8A8A8; z-index: 0; }
#resume .bullet::after { position: absolute; top: 18px; left: 15px; content: ''; width: 1px; height: 100%; background-color: #979797; display: block; z-index: 0; }

.title { margin: 0; font-family: "Seaweed Script"; font-weight: 700; text-align: center; padding: 100px 0 50px 0; }

.subtitle { text-align: center; padding: 50px 0; }

nav { border-bottom-style: double; border-bottom-color: #dddddd; background-color: #ffffff; position: -webkit-sticky; /* Safari */ position: sticky; top: 0px; z-index: 1; }
nav div { text-align: right; padding: 20px 0; }
nav a { padding: 0 10px; font-weight: bold; color: #000000; }

@media screen and (max-width: 768px) { #home .intro { top: 35%; }
  #about .avatar { width: 90%; max-height: 400px; object-fit: cover; object-position: 0px 0px; display: block; border-radius: 25px; margin: 0 0 30px 5%; }
  #about #profile { width: calc(100% - 31px); }
  #about #description { width: calc(100% - 41px); margin-top: 30px; }
  .width-half { width: 100%; } }
@media screen and (max-width: 600px) { .width-one-third { width: 90%; margin-left: 10%; } }
@media screen and (max-width: 400px) { #home .intro { top: 15%; } }
@media screen and (min-width: 1200px) { .content { width: 1200px; position: relative; left: calc(50% - 600px); } }
@-webkit-keyframes ani-mouse { 0% { opacity: 1; top: 29%; }
  15% { opacity: 1; top: 60%; }
  50% { opacity: 0; top: 60%; }
  100% { opacity: 0; top: 29%; } }
@-moz-keyframes ani-mouse { 0% { opacity: 1; top: 29%; }
  15% { opacity: 1; top: 60%; }
  50% { opacity: 0; top: 60%; }
  100% { opacity: 0; top: 29%; } }
@keyframes ani-mouse { 0% { opacity: 1; top: 29%; }
  15% { opacity: 1; top: 60%; }
  50% { opacity: 0; top: 60%; }
  100% { opacity: 0; top: 29%; } }
.scroll_down_button .scroll-btn p { color: #ffffff; }
.scroll_down_button .scroll-btn .mouse { position: relative; display: block; width: 35px; height: 55px; margin: 50px auto 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 2px solid white; border-radius: 23px; }
.scroll_down_button .scroll-btn .mouse > * { position: absolute; display: block; top: 29%; left: 50%; width: 8px; height: 8px; margin: -4px 0 0 -4px; background: white; border-radius: 50%; -webkit-animation: ani-mouse 3s linear infinite; -moz-animation: ani-mouse 3s linear infinite; animation: ani-mouse 3s linear infinite; }
