hr{
    border: none;
    border-top: #979797 5px solid;
    margin-top: 10px;
    margin-bottom: 15px;
}

.lfloat{float: left;}
.rfloat{float: right;}
.clear{clear:both; }

#head{
    min-width: 200px;
    height: 255px;
    text-align: center;
    margin: 35px 20px 0px 0px;
    border-radius: 30px;
    overflow: hidden;

    img {
        max-width: 200px;
    }
}

#info{
    width: 60%;
    margin: 0px 0px 0px 10px;

    a {
        color: blue;
        padding-right: 20px;
    }
}

.title{
    text-align: center;
    font-size: 24px;
}
.part{
    width: 49%;
    padding-bottom: 5px;
}
.parant{
    position: relative;
}
.bullet-content{
    margin-left: 10%
}
.bullet{
    width: 10%;
}
.blue{
    color: rgb(27, 131, 223);
}

@media only screen and (max-width: 768px) {
    body {
        margin: 15px 0px 0px 0px;
    }
    #head{
        width: 200px;
        height: 200px;
        border-radius: 100px;
        overflow: hidden;
        position: relative;
        top: 50%;
        left: 50%;
        margin-left: -100px;
    }
    #head img{
        border-radius: 0%;
    }
    #info{
        width: 90%;
        position: relative;
        left: 5%;
    }
    #info h1{
        text-align: center;
    }
    #content{
        width: 100%;
    }
    .part{
        width: 100%;
    }
}
